In [1]:
import pandas as pd
data = pd.read_csv("../Model/df_model.csv")
backup_data = pd.read_csv("../Model/df_model.csv")

In [2]:
print(data.isnull().sum())

Price                0
Manufacturer         0
Model                0
Horse Power          0
Mileage              0
Transmission         0
Fuel                 0
Posting Month        0
Posting Year         0
Age                  0
country_of_origin    0
dtype: int64

In [5]:
print(data["Fuel"].unique())

['Essence' 'Diesel' 'Hybrid']

In [4]:
data["Fuel"] = data["Fuel"].replace({
    "Gasoline": "Essence"
})

In [6]:
print(data["Transmission"].unique())

['Automatic' 'Manual']

Next we want to check for rows with unrealistic mileage (0 km) because we are working with only used cars, so the 0 km cars are not new that's why we will replace the 0 values with the average milage for used cars according to our dataset

In [8]:
print(data[data["Mileage"] == 0])

         Price Manufacturer                          Model  Horse Power  \
115   190000.0        CUPRA                      FORMENTOR         11.0
158   358000.0   LAND ROVER   RANGE ROVER EVOQUE R-DYNAMIC          9.0
159   748000.0   LAND ROVER  RANGE ROVER SPORT HSE-DYNAMIC         28.0
634    47000.0       TOYOTA                           AYGO          5.0
1267   34000.0          KIA                        PICANTO          4.0
1345   74800.0          KIA                            RIO          5.0
1749   63800.0        SKODA                          FABIA          4.0
4493   65000.0   VOLKSWAGEN                           POLO          6.0
4504   63799.0   VOLKSWAGEN                           POLO          5.0
4508   81000.0   VOLKSWAGEN                      PASSAT CC          7.0
4560   74500.0   VOLKSWAGEN                         TIGUAN          6.0
5140  450000.0     MERCEDES                  GLC 200 COUPE         11.0
5151  440000.0     MERCEDES                  GLC 200 COUPE         11.0
5250  590000.0     MERCEDES                  GLE COUPE AMG         12.0

      Mileage Transmission     Fuel Posting Month  Posting Year  Age  \
115       0.0    Automatic  Essence      February          2024    1
158       0.0    Automatic   Diesel      February          2024    0
159       0.0    Automatic   Hybrid      February          2024    0
634       0.0       Manual  Essence      November          2023    1
1267      0.0       Manual  Essence      November          2023    1
1345      0.0       Manual  Essence      November          2023    1
1749      0.0       Manual  Essence      November          2023    1
4493      0.0       Manual  Essence      November          2023    1
4504      0.0       Manual  Essence      November          2023    1
4508      0.0    Automatic  Essence      November          2023    1
4560      0.0       Manual  Essence      November          2023    1
5140      0.0    Automatic   Hybrid      February          2024    0
5151      0.0    Automatic   Hybrid      February          2024    1
5250      0.0    Automatic   Diesel       January          2024    0

     country_of_origin
115              Spain
158     United Kingdom
159     United Kingdom
634              Japan
1267       South Korea
1345       South Korea
1749    Czech Republic
4493           Germany
4504           Germany
4508           Germany
4560           Germany
5140           Germany
5151           Germany
5250           Germany

In [9]:
median_mileage = data.loc[data["Mileage"] > 0, "Mileage"].median()
data["Mileage"] = data["Mileage"].replace(0, median_mileage)

In [11]:
print(data[data["Mileage"] == 0])

Empty DataFrame
Columns: [Price, Manufacturer, Model, Horse Power, Mileage, Transmission, Fuel, Posting Month, Posting Year, Age, country_of_origin]
Index: []

In [12]:
print(f"Number of rows before dropping duplicates: {len(data)}")

Number of rows before dropping duplicates: 5345

In [14]:
data = data.drop_duplicates()
print(f"Number of rows after dropping duplicates: {len(data)}")

Number of rows after dropping duplicates: 5128

In [25]:
print(data.head())

     Price Manufacturer    Model  Horse Power   Mileage Transmission     Fuel  \
0  75000.0     INFINITI     EX35         20.0  143000.0    Automatic  Essence
1  69000.0        IVECO    DAILY         11.0   87000.0       Manual   Diesel
2  62000.0        VOLVO     XC60         13.0  190000.0    Automatic  Essence
3  69000.0           AC    SEVEN          7.0   59000.0    Automatic  Essence
4  29000.0       LANCIA  YPSILON          4.0  125000.0       Manual  Essence

  Posting Month  Posting Year  Age country_of_origin
0      November          2023   15             Japan
1      November          2023    8             Italy
2      November          2023   13            Sweden
3      November          2023    4    United Kingdom
4      November          2023   10             Italy

In [27]:
print(data["Manufacturer"].unique())

['INFINITI' 'IVECO' 'VOLVO' 'AC' 'LANCIA' 'GEELY' 'ALFA ROMEO' 'DS'
 'DONGFENG' 'BYD' 'FOTON' 'DFSK' 'WALLYSCAR' 'LADA' 'TATA' 'BAIC'
 'GREAT WALL' 'HAVAL' 'CUPRA' 'MG' 'CHRYSLER' 'LAND ROVER' 'JAGUAR'
 'SSANGYONG' 'NISSAN' 'JEEP' 'PORSCHE' 'MINI' 'CHEVROLET' 'TOYOTA'
 'CITROEN' 'MITSUBISHI' 'KIA' 'DACIA' 'MAHINDRA' 'HONDA' 'SKODA' 'AUDI'
 'PEUGEOT' 'CHERY' 'SEAT' 'BMW' 'FIAT' 'FORD' 'HYUNDAI' 'MAZDA' 'RENAULT'
 'SUZUKI' 'VOLKSWAGEN' 'MERCEDES']

In [28]:
data["price_per_km"] = data["Price"] / data["Mileage"]
data["price_per_horsepower"] = data["Price"] / data["Horse Power"]

In [29]:
data.head()

,Price,Manufacturer,Model,Horse Power,Mileage,Transmission,Fuel,Posting Month,Posting Year,Age,country_of_origin,price_per_km,price_per_horsepower
0,75000.0,INFINITI,EX35,20.0,143000.0,Automatic,Essence,November,2023,15,Japan,0.524476,3750.000000
1,69000.0,IVECO,DAILY,11.0,87000.0,Manual,Diesel,November,2023,8,Italy,0.793103,6272.727273
2,62000.0,VOLVO,XC60,13.0,190000.0,Automatic,Essence,November,2023,13,Sweden,0.326316,4769.230769
3,69000.0,AC,SEVEN,7.0,59000.0,Automatic,Essence,November,2023,4,United Kingdom,1.169492,9857.142857
4,29000.0,LANCIA,YPSILON,4.0,125000.0,Manual,Essence,November,2023,10,Italy,0.232000,7250.000000

In [30]:
numerical_stats = data.describe()
print(numerical_stats)

               Price  Horse Power        Mileage  Posting Year          Age  \
count    5128.000000  5128.000000    5128.000000   5128.000000  5128.000000
mean    51090.844189     6.723284  158303.039002   2023.221139    10.775741
std     49092.403148     3.491983   83271.481696      0.517912     6.878875
min      4000.000000     1.000000     900.000000   2022.000000     0.000000
25%     25000.000000     5.000000   94807.500000   2023.000000     6.000000
50%     38000.000000     6.000000  150000.000000   2023.000000     9.000000
75%     60000.000000     7.000000  208000.000000   2024.000000    14.000000
max    748000.000000    65.000000  600000.000000   2024.000000    44.000000

       price_per_km  price_per_horsepower
count   5128.000000           5128.000000
mean       1.091355           7457.340127
std        7.998106           4637.238419
min        0.012341            209.523810
25%        0.130435           4375.000000
50%        0.276217           6500.000000
75%        0.568182           9400.000000
max      285.000000          65000.000000

In [31]:
categorical_columns = ["Model", "Manufacturer", "Fuel"]

for col in categorical_columns:
    print(f"Value counts for {col} column:")
    print(data[col].value_counts())
    print("\n")

Value counts for Model column:
Model
CLIO                  212
POLO                  207
FIESTA                110
RIO                   109
PASSAT                 94
                     ...
C 180 AVANTGARDE        1
E COUPE AVANTGARDE      1
A CITADINE              1
220 KIT AMG             1
C AMG SPORT PACK        1
Name: count, Length: 729, dtype: int64


Value counts for Manufacturer column:
Manufacturer
PEUGEOT       632
VOLKSWAGEN    557
CITROEN       471
RENAULT       419
MERCEDES      369
KIA           341
BMW           283
FIAT          256
FORD          219
AUDI          179
SEAT          163
NISSAN        135
HYUNDAI       126
TOYOTA         92
DACIA          81
MAZDA          77
SSANGYONG      73
LAND ROVER     66
CHERY          66
CHEVROLET      60
SUZUKI         59
SKODA          47
PORSCHE        44
MINI           41
MAHINDRA       37
HAVAL          29
JEEP           27
MG             27
MITSUBISHI     26
HONDA          22
ALFA ROMEO     20
JAGUAR         16
GEELY          10
DS              8
DONGFENG        8
IVECO           6
VOLVO           5
GREAT WALL      5
CUPRA           4
INFINITI        4
AC              3
BAIC            3
DFSK            2
LADA            2
LANCIA          2
TATA            2
FOTON           1
WALLYSCAR       1
BYD             1
CHRYSLER        1
Name: count, dtype: int64


Value counts for Fuel column:
Fuel
Essence    3800
Diesel     1263
Hybrid       65
Name: count, dtype: int64

Correlation Matrix for Numerical Features to understand how the numerical features correlate with each other

In [32]:
correlation_matrix = data.corr(numeric_only=True)

print(correlation_matrix)

                         Price  Horse Power   Mileage  Posting Year       Age  \
Price                 1.000000     0.502346 -0.404175      0.470554 -0.409309
Horse Power           0.502346     1.000000  0.001875      0.269488  0.044698
Mileage              -0.404175     0.001875  1.000000     -0.277834  0.682189
Posting Year          0.470554     0.269488 -0.277834      1.000000 -0.276074
Age                  -0.409309     0.044698  0.682189     -0.276074  1.000000
price_per_km          0.315742     0.098747 -0.182725      0.135426 -0.135322
price_per_horsepower  0.789349     0.058865 -0.568190      0.432367 -0.617695

                      price_per_km  price_per_horsepower
Price                     0.315742              0.789349
Horse Power               0.098747              0.058865
Mileage                  -0.182725             -0.568190
Posting Year              0.135426              0.432367
Age                      -0.135322             -0.617695
price_per_km              1.000000              0.271362
price_per_horsepower      0.271362              1.000000

In [33]:
data.to_csv("../Model/cleaned_dataset.csv", index=False)

We will use the Min-Max Normalization four our numerical features

In [34]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
data[["Price", "Mileage", "Horse Power"]] = scaler.fit_transform(data[["Price", "Mileage", "Horse Power"]])

In [35]:
print(data.head())

      Price Manufacturer    Model  Horse Power   Mileage Transmission  \
0  0.095430     INFINITI     EX35     0.296875  0.237189    Automatic
1  0.087366        IVECO    DAILY     0.156250  0.143716       Manual
2  0.077957        VOLVO     XC60     0.187500  0.315640    Automatic
3  0.087366           AC    SEVEN     0.093750  0.096979    Automatic
4  0.033602       LANCIA  YPSILON     0.046875  0.207144       Manual

      Fuel Posting Month  Posting Year  Age country_of_origin  price_per_km  \
0  Essence      November          2023   15             Japan      0.524476
1   Diesel      November          2023    8             Italy      0.793103
2  Essence      November          2023   13            Sweden      0.326316
3  Essence      November          2023    4    United Kingdom      1.169492
4  Essence      November          2023   10             Italy      0.232000

   price_per_horsepower
0           3750.000000
1           6272.727273
2           4769.230769
3           9857.142857
4           7250.000000

In [36]:
data.to_csv("../Model/normalized_dataset.csv", index=False)